*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --Slate-900: #1F314F;
    --Slate-500: #68778D;
    --Slate-300: #D5E1EF;
    --White: #FFFFFF;
}

body{
    background-color: var(--Slate-300);
}